.author-photo {
  height: 98px;
  float: left;
  margin-right: 20px;
  margin-top: 4px;
}

@media (min-width: $tablet) {
  .author-photo {
    height: 90px;
    float: left;
    margin-right: 30px;
    margin-top: 0;
  }
}
