.graph {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 900px;
    max-width: 1200px;
}

.graph-controls {
  margin-bottom: 90px;
}

.graph-grid {
    margin-right: -100%;
    width: 100%;
    align-content: stretch;
    justify-content: stretch;
    flex: 1 1 auto;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    transition: all $speed $easing;
}

.graph-label-column {
    border-left: 1px solid $gray;
    flex: 1 1 auto;
}

.graph-label-column-text {
    font-size: 12px;
    color: $tertairy;
    padding-left: 10px;
    border-bottom: 1px solid $gray;
    display: block;
    padding-bottom: 10px;
}

.graph-rows {
    position: relative;
    z-index: 2;
    flex: 1 1 auto;
}

.graph-row {
  display: block;
  position: relative;
  color: $tertairy;
  font-size: 14px;
  font-weight: 100;
  padding: 6px;
  border-bottom: 2px solid $tertairy;
  transition: all $speed $easing;
}

.graph-row + .graph-row {
  margin-top: 8px;
}

body[data-active-grid="years"] .graph-grid.years,
body[data-active-grid="niveaus"] .graph-grid.niveaus {
  opacity: 1;
}
