.graph {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.graph-controls {
  margin-bottom: 30px;

  .label {
    font-weight: bold;
    margin-right: 10px;
    font-size: 12px;
  }
}

.graph-grid {
  margin-right: -100%;
  width: 100%;
  align-content: stretch;
  justify-content: stretch;
  flex: 1 1 auto;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  display: flex;
  height: calc(100% - 30px);
  overflow: hidden;
  opacity: 0;
  transition: all $speed $easing;
  border-right: 1px solid $gray;
}

.graph-label-column {
  border-left: 1px solid $gray;
  flex: 1 1 auto;
}

.graph-label-column-text {
  display: none;
  font-size: 10px;
  color: $tertairy;
  padding-left: 0;
  border-bottom: 1px solid $gray;
  padding-left: 3px;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.graph-rows {
  position: relative;
  z-index: 2;
  flex: 1 1 auto;
}

.graph-row {
  display: block;
  position: relative;
  color: $tertairy;
  font-size: 10px;
  font-weight: 100;
  transition: all $speed $easing;
  overflow: hidden;
  max-height: 90px;
  opacity: 1;
  border-bottom: 1px solid $tertairy;

  &.is-group {
    cursor: pointer;
    border-bottom: 3px solid $tertairy;
    font-size: 14px;

    .graph-row-label {
      border-bottom-color: $primary;
      color: $primary;
      position: relative;
      display: inline-block;
      width: 100%;
    }

    &:hover {
      border-bottom: 3px solid $secondairy;
    }

    &:hover {
      .graph-row-label em {
        color: $primary;
      }
    }
  }

  &.hidden {
    max-height: 0;
    margin: 0 !important;
    border-bottom: 0px solid white;
  }
}

.graph-row-label {
  padding: 5px;
  display: inline-block;
  transition: all $speed $easing;

  em {
    transition: all $speed $easing;
    color: $tertairy;
  }
}

.is-group {
  .graph-row-label {
    padding-right: 30px;
  }
}

.graph-row-expand {
  background-color: $tertairy;
  position: absolute;
  transition: all $speed $easing;
  right: 0;
  bottom: -3px;
  width: 28px;
  height: 28px;
  display: block;
  border-radius: 4px;

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height: 10px;
    transition: all $speed $easing;
    background-color: white;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(-90deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(0);
  }
}

.graph-row:hover .graph-row-expand {
  background-color: $secondairy;
}

.is-expanded {
   .graph-row-expand {
       &:before {
         transform: translate(-50%, -50%) rotate(-45deg);
       }

       &:after {
         transform: translate(-50%, -50%) rotate(45deg);
       }
   }
}

.graph-row + .graph-row {
  margin-top: 12px;
}

.graph-grid.sticky {
  height: 30px;
  position: sticky;
  top: 129px;
  z-index: 10;
  background-color: white;

  .graph-label-column-text {
    display: block;
  }
}

.graph-grid {
  max-height: 0px;
}

body[data-active-grid="years"] .graph-grid.years,
body[data-active-grid="niveaus"] .graph-grid.niveaus {
  opacity: 1;
  max-height: calc(100% - 30px);

  &.sticky {
    max-height: 32px;
  }
}

@media (min-width: $tablet) {
  .graph {
    width: 700px;
  }

  .graph-label-column-text {
    font-size: 12px;
    color: $tertairy;
    padding-left: 10px;
    border-bottom: 1px solid $gray;
    display: block;
    padding-bottom: 10px;
  }

  .graph-row {
    font-size: 16px;
  }
}
