$hamburger-padding: 20px;

.hamburger {
  position: fixed;
  top: $spacer-y + 30px - $hamburger-padding;
  left: calc(50% - (#{$max-width} / 2) - 100px);
  cursor: pointer;
  z-index: 24;
  padding: $hamburger-padding;

  &:hover {
    animation: popup $speed;
  }
}

.hamburger-slice {
  transform: translateY(0) rotate(0deg) scale(1);
  height: 4px;
  width: 22px;
  transition: all $speed .2s $easing;
  background-color: $secondairy;
}

.hamburger-slice + .hamburger-slice {
  margin-top: 5px;
}

body.has-active-menu {
  .hamburger-slice {
    transition: all $speed 0s $easing;

    &:nth-child(1) {
      transform: translateY(9px) rotate(45deg) scale(1.4);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: translateY(-9px) rotate(-45deg) scale(1.4);
    }
  }
}

@keyframes popup {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
