.layout-wrapper {
  margin: 0 auto;
  position: relative;

  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

@media (min-width: $desktop) {
  .layout-wrapper {
    max-width: $max-width;
  }
}
