.layout-wrapper {
  margin: 0 auto;
  position: relative;
  padding-top: 180px;

  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

@media (min-width: $tablet) {
  .layout-wrapper {
    padding-top: $spacer-y + 240px;
  }
}

@media (min-width: $desktop) {
  .layout-wrapper {
    max-width: $max-width;
  }
}
