.main-menu {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary;
  transition: all .5s cubic-bezier(.73,.12,.46,.91);
  clip-path: circle(2px at 60px 91px);

  .headers-combo {
    margin-left: 90px;
    margin-top: 50px;
    position: relative;
    z-index: 3;

    .bigshot {
      color: white;
    }
  }

  .menu-item {
    transition: all $speed $easing;
    cursor: pointer;

    .bigshot {
      color: $tertairy;
      transition: all $speed $easing;
    }

    .marck {
      transition: all $speed $easing;
    }

    &:hover {
      transform: translateX(-40px);

      .bigshot {
        color: $secondairy;
      }

      .marck {
        color: white;
      }
    }
  }
}

.main-menu-list {
  margin-top: 140px;
}

body.has-active-menu {
  .main-menu {
    clip-path: circle(110vmax at 60px 91px);
  }
}
