.paragraph-title {
  margin-left: 90px;
  margin-bottom: 50px;

  .bigshot {
    color: $gray;
    font-size: 100px;
    margin-bottom: -56px;
  }

  .marck {
    margin: 0;
    font-size: 27px;
  }
}
