* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 180px;
}

*:focus {
	outline: none;
}

*::-moz-focus-inner {
	border: none;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet) {
  body {
    padding-top: $spacer-y + 240px;
  }
}

body {
  /* Disables pull-to-refresh and overscroll glow effect.
     Still keeps swipe navigations. */
  overscroll-behavior-y: none;
}
