html {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  padding-left: $spacer-x;
  padding-top: $spacer-y + 150px;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}
