* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

*:focus {
	outline: none;
}

*::-moz-focus-inner {
	border: none;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  overscroll-behavior-y: none;
}
