.row {
  float: left;
  width: 100%;
  margin-bottom: 130px;
  padding: 0 20px;

  &:last-child {
    margin-bottom: 40px;
  }
}

@media (min-width: $tablet) {
  .row {
    margin-bottom: 200px;
    padding: 0 40px;

    &:last-child {
      margin-bottom: 40px;
    }

    &.alternate {
      flex-direction: row-reverse;
      text-align: right;

      p {
        float: right;
        clear: both;
      }
    }
  }
}

@media (min-width: $desktop) {
  .row {
    justify-content: space-between;
    display: flex;
    padding: 0;

    > * {
      width: 100%;
    }
  }
}
