.showcases-wrapper {
  margin: 50px -23px;
  display: flex;
  flex-wrap: wrap;
}

.zoom-in-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 30px;
  cursor: pointer;

  &:before {
    content: '';
    width: 10px;
    height: 2px;
    transition: all $speed $easing;
    opacity: 1;
    background-color: white;
    position: absolute;
    right: 10px;
    bottom: 15px;
    transform: rotate(45deg);
  }

  &:after {
    content: '';
    width: 20px;
    height: 20px;
    transition: all $speed $easing;
    opacity: 1;
    border: white 2px solid;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.zoom-in-icon-part {
  &:before, &:after {
    content: '';
    width: 8px;
    height: 2px;
    transition: all $speed $easing;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.showcase {
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 3;
  cursor: pointer;
  transition: all $speed $easing;
  display: block;
  text-decoration: none;
  overflow: hidden;

  .scroll-wrapper {
    padding: 20px;
    padding-right: 50px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    transition: all $speed $easing;
    background: linear-gradient(to bottom, rgba($primary, .7) 30%, rgba($primary, 1) 100%);
    z-index: -1;
    opacity: .7;
  }

  .title {
    font-family: 'Bigshot One', cursive;
    font-size: 24px;
    font-weight: 100;
    margin: 0;
    transition: all $speed $easing;
    color: white;
    line-height: 1;
    padding-top: 70px;
  }

  .description {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: $secondairy;
    line-height: 1;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 15px;
  }

  .showcase-body {
    overflow: hidden;
    max-height: 0;
    color: white;
    opacity: 0;
    transition: max-height $speed $easing,  opacity $speed 0s $easing;
  }

  &.is-sticky {
    position: fixed;
    width: 100%;
    z-index: 40;

    .showcase-body {
      max-height: 100vh;
      opacity: 1;
      transition: max-height $speed $easing,  opacity $speed $speed * 2 $easing;
    }
  }

  &.is-fullscreen {
    cursor: default;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border: 0px solid rgba(white, 0);
    overflow: hidden;

    &:after {
      opacity: 1;
    }

    .scroll-wrapper {
      overflow: auto;
      max-height: 100vh;
      padding-bottom: 100px;
    }

    .showcase-body {
      max-height: none;
    }

    .title {
      padding-top: 60px;
      font-size: 40px;
      padding-bottom: 20px;
    }

    .zoom-in-icon:before {
      opacity: 0;
    }

    .zoom-in-icon-part {
      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:after {
        transform: translate(-50%, -50%) rotate(135deg);
      }
    }
  }
}

.showcase + .showcase {
  margin-top: 4px;
}

.has-expanded-showcase {
  overflow: hidden;
}

@media (min-width: $tablet) {
  .showcase {
    flex: 1 1 40%;
    margin: 0 !important;
    border: 2px solid transparent;
    background-clip: padding-box;

    .title {
      font-size: 28px;
    }

    &.is-fullscreen {
      .title {
        font-size: 60px;
      }
    }
  }

  .showcases-wrapper {
    margin: 50px -2px;
    display: flex;
  }
}

@media (min-width: $desktop) {
  .showcase {
    .title,
    .description,
    .showcase-body {
      max-width: $max-width;
      margin: 0 auto !important;
    }
  }
}
