.showcases-wrapper {
  margin: 50px -23px;
  display: flex;
  flex-wrap: wrap;
}

.showcase {
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 3;
  margin: 2px;
  cursor: pointer;
  transition: all $speed $easing, z-index 0s;
  display: block;
  text-decoration: none;
  overflow: hidden;

  .scroll-wrapper {
    padding: 20px;
    padding-right: 50px;
    height: 100%;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    transition: all $speed $easing;
    background-color: $tertairy;
    z-index: -1;
    opacity: 0;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    transition: all $speed $easing;
    background: linear-gradient(to bottom, rgba($primary, .7) 0%, rgba($primary, 1) 100%);
    z-index: -2;
    opacity: .7;
  }

  .title {
    font-family: 'Bigshot One', cursive;
    font-size: 24px;
    font-weight: 100;
    margin: 0;
    transition: all $speed $easing;
    color: white;
    line-height: 1;
    padding-top: 70px;
  }

  .description {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: $secondairy;
    line-height: 1;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 15px;
  }

  .showcase-body {
    overflow: hidden;
    max-height: 0;
    color: white;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity $speed $easing, max-height 0s $speed, transform $speed $easing;
  }

  &.hidden {
    opacity: .2;
  }

  &.is-going-fullscreen {
    &:after {
      opacity: 1;
    }
  }

  &.is-fullscreen {
    .showcase-body {
      opacity: 1;
      transform: translateY(0);
      transition: opacity $speed $easing, max-height 0s 0s, transform $speed $easing;
      max-height: 100vh;
    }

    .scroll-wrapper {
      overflow-y: auto;
    }
  }
}

.has-expanded-showcase {
  overflow: hidden;
}

@media (min-width: $tablet) {
  .showcase {
    border-radius: 7px;
    flex: 1 1 40%;

    .title {
      font-size: 28px;
    }
  }

  .showcases-wrapper {
    margin: 50px -2px;
    display: flex;
  }
}

@media (min-width: $desktop) {
  .showcases-wrapper {
    margin: 0;
    margin-top: 123px;
    display: flex;
  }

  .showcase {
    .title,
    .description,
    .showcase-body {
      max-width: $max-width;
      margin: 0 auto !important;
    }
  }
}
