.site-header {
  &.primary {
    position: fixed;
    background-color: white;
    border-bottom: 1px dashed white;
    transition: all $speed $easing;
    top: 0;
    left: 0;
    padding-top: $spacer-y;
    padding-left: $spacer-x;
    padding-bottom: 55px;
    z-index: 22;
    width: 100%;
    box-shadow: 0 0 10px 10px rgba($tertairy, 0);
  }

  &.secondairy {
    position: absolute;
    top: $spacer-y;
    left: $spacer-x;
    z-index: 2;
  }
}

.has-scrolled {
  .site-header.primary {
    border-bottom: 1px dashed $tertairy;
    box-shadow: 0 0 10px 10px rgba($tertairy, .1);
  }
}
