.site-header {
  &.primary {
    position: fixed;
    background-color: white;
    border-bottom: 1px dashed white;
    transition: all $speed $easing;
    top: 0;
    left: 0;
    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 60px;
    z-index: 26;
    width: 100%;
    box-shadow: 0 0 10px 10px rgba($tertairy, 0);
  }

  &.secondairy {
    margin-bottom: 40px;
  }
}

.has-scrolled {
  .site-header.primary {
    border-bottom: 1px dashed $tertairy;
    box-shadow: 0 0 10px 10px rgba($tertairy, .1);
  }
}

@media (min-width: $tablet) {
  .site-header {
    &.primary {
      padding-top: $spacer-y;
      padding-bottom: 55px;
      padding-left: 0;
    }

    &.secondairy {
      margin-bottom: 100px;
    }
  }
}
