$primary: #00222b;
$secondairy: #ff7f2a;
$tertairy: #4c90a0;
$gray: #e3e5e5;

$speed: .3s;
$easing: ease-in-out;

$spacer-x: 150px;
$spacer-y: 75px;

$tablet: 720px;
$desktop: 1280px;

$max-width: 1080px;

$text-color: #5a5656;
