
      <div class="row alternate">
        <div id="contact">
          <div class="headers-combo crossed">
            <h1 class="bigshot">Contact</h1>
            <h3 class="marck">Ik maak graag een kennismakingsafspraak!</h3>
          </div>

          <p>Graag kom ik in gesprek over eventuele banen en/of projecten.</p>
          <p>Bel naar <a class="link" href="tel:0637346364">06 - 37346364</a><br>of mail naar <a class="link" href="mailto:mail@danielbeeke.nl">mail@danielbeeke.nl</a></p>
        </div>
      </div>
