<div>
  <div class="headers-combo crossed">
    <h1 class="bigshot">Fullstack?</h1>
    <h3 class="marck">Backend, frontend, hosting</h3>
  </div>

  <p>Fullstack, wat is dat precies? Voor mij betekent het dat ik ieder onderdeel van het ontwikkelen van een moderne webapplicatie onder de knie heb.</p>
  <p>Van backend tot frontend, software architectuur tot de kleinste esthetische details. Van teamwerk tot individueel werk. En natuurlijk testen, code reviews en kennis overdracht.</p>
</div>
