
      <div class="row">
        <div class="left" id="skills">
          <div class="headers-combo crossed">
            <h1 class="bigshot">Skills</h1>
            <h3 class="marck">Aantal jaren ervaring en niveau's</h3>
          </div>

          <p>In de grafiek zie je een groot deel van mijn vaardigheden. Je kunt wisselen tussen jaar weergave en ervaring weergave.</p>
        </div>

        <div class="graph-wrapper show-right" id="graph">
          <div class="graph-controls">
            <span class="label">Toon:</span>
            <a class="toggle years">jaren</a>
            <a class="toggle niveaus">ervaring</a>
          </div>
        </div>
      </div>
