<div class="headers-combo crossed">
  <h1 class="bigshot">Skills</h1>
  <h3 class="marck">Aantal jaren ervaring en niveau's</h3>
</div>

<p>In de onderstaande grafiek kun je mijn vaardigheden zien. Je kunt wisselen tussen jaarweergave en niveauweergave.</p>

<a class="toggle years">jaarweergave</a>
<a class="toggle niveaus">niveauweergave</a>

<div class="graph" id="graph">
</div>
