<div class="headers-combo crossed">
  <h1 class="bigshot">Over mij</h1>
  <h3 class="marck">Autodidact, systeem denker, innovatief</h3>
</div>

<p>Hoi, Ik ben Daniël Beeke. Een full stack webdeveloper met 10+ jaar ervaring uit Amersfoort. Ik ben op zoek naar een leuke en uitdagende baan. Ik ben beschikbaar per 1 Juni, in overleg eerder.</p>
<p>Op deze website is te zien wat mijn ervaringen zijn, in een <a class="link" href="#grafiek">grafiek</a> en in <a class="link" href="#showcases">showcases</a>.</p>

<div class="headers-combo crossed">
  <h1 class="bigshot">Fullstack?</h1>
  <h3 class="marck">Backend, frontend, hosting</h3>
</div>

<p>Fullstack, wat is dat precies? Voor mij betekent het dat ik ieder onderdeel van het ontwikkelen van een moderne webapplicatie onder de knie heb.</p>
<p>Van backend tot frontend, architectuur tot hosting, teamwerk tot individueel werken.</p>
