<nav class="main-menu">
  <header class="site-header secondairy headers-combo big">
    <h1 class="bigshot">Daniël Beeke</h1>
    <h3 class="marck">Fullstack webdeveloper</h3>
  </header>

  <a class="menu-item headers-combo">
    <h2 class="bigshot">Over mij</h2>
    <h3 class="marck">Mijn lievelings eten etc.</h3>
  </a>

  <a class="menu-item headers-combo">
    <h2 class="bigshot">Skills</h2>
    <h3 class="marck">Benieuwd of ik kan jongleren?</h3>
  </a>

  <a class="menu-item headers-combo">
    <h2 class="bigshot">Contact</h2>
    <h3 class="marck">Mijn contactgegevens</h3>
  </a>

</nav>
