
      <div class="row">
        <div id="over-mij">
          <div class="headers-combo crossed">
            <h1 class="bigshot">Over mij</h1>
            <h3 class="marck">Autodidact, systeem denker, innovatief</h3>
          </div>

          <img src="/images/daniel.jpg" class="author-photo">

          <p>Hallo, Ik ben Daniël Beeke. Een <a class="link" href="#fullstack">fullstack</a> webdeveloper met 10+ jaar ervaring uit Amersfoort.</p>
          <p>Ik ben op zoek naar een leuke en uitdagende baan. Ik ben beschikbaar per 1 Juni, in overleg eerder.</p>
          <p>Op deze website is te zien wat mijn ervaringen zijn, in een <a class="link" href="#skills">grafiek</a> en in <a class="link" href="#showcases">showcases</a>.</p>
        </div>
      </div>
