<div>
  <div class="headers-combo crossed">
    <h1 class="bigshot">Over mij</h1>
    <h3 class="marck">Autodidact, systeem denker, innovatief</h3>
  </div>

  <p>Hoi, Ik ben Daniël Beeke. Een full stack webdeveloper met 10+ jaar ervaring uit Amersfoort. Ik ben op zoek naar een leuke en uitdagende baan. Ik ben beschikbaar per 1 Juni, in overleg eerder.</p>
  <p>Op deze website is te zien wat mijn ervaringen zijn, in een <a class="link" href="#grafiek">grafiek</a> en in <a class="link" href="#showcases">showcases</a>.</p>
</div>
