<div class="row">
  <div id="showcases">
    <div class="headers-combo crossed">
      <h1 class="bigshot">Showcases</h1>
      <h3 class="marck">Cartografie, complexe materie en andere zaken</h3>
    </div>

    <p>Bijdeze een selectie van projecten die ik tof vind om te laten zien.</p><p>Enkele van de getoonde projecten zijn uitgevoerd bij Fonkel in samenwerking met andere ontwikkelaars.</p>
  </div>

  <div class="showcases-wrapper">
    <%- partial('showcases/_haringvliet.ejs') %>
    <%- partial('showcases/_opengroup.ejs') %>
    <%- partial('showcases/_onitama.ejs') %>
  </div>

</div>
