.card-slider {
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100vw;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  transition: transform .4s ease-in-out, opacity .4s ease-in-out;
  opacity: 1;
}

.card-slider-spacer {
  flex: 0 0 calc(50vw - #{$card-width / 2});
  height: 20px;
}

@media only screen and (min-width: 600px) {
  .card-slider {
    padding-top: 2vh;
    padding-bottom: 5vh;
  }

  .card-slider-spacer {
    flex: 0 0 calc(50vw - #{$card-width-huge / 2});
  }
}

// Safari only css hack.
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

  .has-fullscreen-teaser-expander {
    .card-slider {
      position: absolute;
      top: 0;
      height: 100%;
    }
  }
}}