.card-slider {
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100vw;
  flex: 0 0 auto;
  display: flex;

  &:after {
    content: '';
    display: block;
    width: 40px;
    height: 100%;
    padding-left: 20px;
  }
}

.card-slider-fake-content {
  width: 0;
  top: 0;
  left: 0;

  &:before {
    content: '';
    display: block;
    width: 100vw;
    height: 40px;
    background-color: $color-green-dark;
    position: fixed;
    bottom: 16px;
    z-index: 10;
  }
}
