.card {
  padding: 80px 40px;
  flex: 0 0 $card-width;
  max-width: 50vw;
  transition: opacity .8s ease-in-out .1s, transform .2s ease-in-out;
  position: relative;

  .card-inner {
    width: 100%;
    height: 100%;
    display: flex;
    background-size: cover;
    min-height: 350px;
  }

  .title {
    font-family: 'Source Code Pro', monospace;
    font-weight: 100;
    letter-spacing: 8px;
    font-size: 14px;
    text-transform: uppercase;
    color: $color-orange;
    position: absolute;
    top: calc(100% - 60px);
  }

  &.with-shadow {
    .card-inner {
      position: relative;
      background-clip: content-box;
      box-shadow: 0 0 0 0 $color-orange, 0 0 45px 0 black;

      &:hover {
        box-shadow: 0 0 0 5px $color-orange, 0 0 45px 0 black;
      }
    }
  }

  &.about {
    flex: 1 0 calc(50vw - #{$card-width / 2});
    min-width: 300px;
    color: $color-gray-light;
    display: flex;
    justify-content: flex-end;

    .card-inner {
      max-width: 350px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      text-align: right;
      flex-direction: column;
    }

    img {
      flex: 0 0 auto;
      margin: 30px 0;
    }

    p {
      margin-bottom: 0;
      flex: 0 0 auto;
      font-size: 20px;
      font-style: italic;
    }
  }
}
