.card {
  //scroll-snap-align: start;
  padding: 60px 40px;
  flex: 1 0 800px;
  max-width: 70vw;
}

.card-inner {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  box-shadow:  0 0 60px black;
}