.close-teaser-expander {
  width: 24px;
  height: 24px;
  border: 2px solid $color-gray-light;
  mix-blend-mode: difference;
  filter: contrast(10%);
  border-radius: 50%;
  transition: all .2s ease-in-out, background-color .1s ease;
  box-shadow: 0 0 10px rgba(black, 0);
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: .7;

  &:before, &:after {
    content: '';
    width: 40%;
    height: 2px;
    background-color: $color-gray-light;
    display: block;
    top: 50%;
    left: 50%;
    position: absolute;
    transition: all .2s ease-in-out;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:hover {
    border-color: $color-orange;
    mix-blend-mode: normal;
    opacity: .5;

    &:before, &:after {
      background-color: $color-orange !important;
    }
  }
}

@media only screen and (min-width: 600px) {
  .close-teaser-expander {
    right: 55px;
    top: 55px;
    opacity: 1;
    width: 40px;
    height: 40px;
  }
}