.current-card {
  color: $color-green-dark;
  background-color: rgba($color-gray-light, .25);
  flex: 0 0 20px;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  padding: 3px 16px 5px;
  font-size: 16px;
  line-height: 26px;
  display: inline-block;
  margin-bottom: 40px;
  border-radius: 26px;
}