.logo {
  color: $color-gray-light;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
  flex: 0 0 auto;

  h1 {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    font-weight: 100;
    letter-spacing: 8px;
    line-height: 26px;
    font-size: 14px;
    text-transform: uppercase;
  }
}