.mouse-pointer {
  position: fixed;
  top: -20px;
  left: -20px;
  z-index: 1000;
  pointer-events: none;
}

.mouse-pointer-inner {
  width: 40px;
  height: 40px;
  border: 5px solid $color-gray-light;
  border-radius: 50%;
  transition: all .2s ease-in-out, background-color .1s ease;
  transform: scale(.3);
  box-shadow: 0 0 10px rgba(black, .4);

  &:before, &:after {
    content: '';
    width: 40%;
    height: 2px;
    background-color: $color-gray-light;
    display: block;
    top: 50%;
    left: 50%;
    position: absolute;
    transition: all .2s ease-in-out;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

[data-mouse="card"] .mouse-pointer-inner {
  border: 1px solid white;
  box-shadow: 0 0 10px $color-green-dark;
  transform: scale(1.5);
  background-color: rgba($color-green-dark, .2);

  &:before, &:after {
    opacity: 1;
    background-color: white;
  }
}

.is-clicking .mouse-pointer-inner {
  background-color: rgba($color-gray-light, .6);
  border-color: $color-orange;

  &:before, &:after {
    background-color: $color-orange;
  }
}

[data-mouse="link"] .mouse-pointer-inner {
  border: 1px solid rgba(white, .4);
  box-shadow: 0 0 10px $color-green-dark;
  transform: scale(1);
  background-color: rgba($color-orange, .5);

  &:before, &:after {
    opacity: 1;
    background-color: white;
  }

  &:before {
    transform: translate(-40%, 220%) rotate(-45deg);
  }

  &:after {
    transform: translate(-40%, -220%) rotate(45deg);
  }
}

[data-mouse="back"] .mouse-pointer-inner {
   border: 1px solid rgba(white, .7);
   box-shadow: 0 0 10px $color-green-dark;
   transform: scale(1);
   background-color: rgba($color-green-dark, .8);

   &:before, &:after {
     opacity: 1;
     background-color: white;
   }

   &:before {
     transform: translate(-60%, 220%) rotate(45deg);
   }

   &:after {
     transform: translate(-60%, -220%) rotate(-45deg);
   }
}


[data-mouse="close"] .mouse-pointer-inner {
  border: 1px solid white;
  box-shadow: 0 0 10px $color-green-dark;
  transform: scale(1.5) rotate(45deg);
  background-color: rgba($color-green-dark, .2);

  &:before, &:after {
    opacity: 1;
    background-color: white;
  }
}

[data-mouse="info"] .mouse-pointer-inner {
  border: 1px solid rgba(white, .7);
  box-shadow: 0 0 10px $color-green-dark;
  transform: scale(1);
  background-color: rgba($color-green-dark, .8);

  &:before {
    opacity: 1;
    color: $color-gray-light;
    background-color: transparent;
    content: '?';
    transform: translate(-35%, -9px);

  }
}
