.mouse-pointer {
  position: fixed;
  top: -20px;
  left: -20px;
  z-index: 1000;
  pointer-events: none;
}

.mouse-pointer-inner {
  width: 40px;
  height: 40px;
  border: 2px solid $color-gray-light;
  border-radius: 50%;
  transition: all .2s ease-in-out, background-color .1s ease;
  transform: scale(.4);
  box-shadow: 0 0 10px rgba(black, 0);

  &:before, &:after {
    content: '';
    width: 40%;
    height: 2px;
    background-color: $color-gray-light;
    display: block;
    top: 50%;
    left: 50%;
    position: absolute;
    transition: all .2s ease-in-out;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

[data-mouse="card"] .mouse-pointer-inner {
  border: 1px solid white;
  box-shadow: 0 0 10px $color-green-dark;
  transform: scale(1.5);
  background-color: rgba($color-green-dark, .2);

  &:before, &:after {
    opacity: 1;
    background-color: white;
  }
}

.is-clicking .mouse-pointer-inner {
  background-color: rgba($color-gray-light, .6);
  border-color: $color-orange;

  &:before, &:after {
    background-color: $color-orange;
  }
}