.card-background {
  background-color: rgba($color-green-dark, .8);
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  margin: -20px;
  padding: 40px;

  .inner-title {
    margin-top: 0;
    font-family: 'Source Code Pro', monospace;
    font-weight: 100;
    letter-spacing: 8px;
    font-size: 24px;
    text-transform: uppercase;
    color: $color-orange;
  }

  p {
    color: $color-gray-light;
    max-width: 300px;
    line-height: 24px;
  }
}