<div class="showcase" style="background-image: url('/images/haringvliet.png');">
  <div class="zoom-in-icon"><div class="zoom-in-icon-part"></div></div>
  <div class="scroll-wrapper">
    <h3 class="title">Haringvliet</h3>
    <p class="description">Drupal, Leaflet en cartografie</p>
    <div class="showcase-body">
      <p>Een project met cartografie, natuur en dieren. Eerst een simpele website daarna een toffe showcase van alle pracht van het natuurgebied Haringvliet. Samen met het team van Fonkel en Graphius hebben we een kaart oplossing gebouwd waarin wandelroutes en fietsroutes getoond kunnen worden. Ook is de kaart prachtig te gebruiken op mobiel.</p>

      <p>Om de gebruikerservaring op mobiel goed te laten verlopen hebben we een open source project genaamd Sprinkhaan gemaakt. Dit is de overlay popup die je ziet wanneer je op een marker klikt.</p>
      <p><a class="button" target="_blank" href="https://haringvliet.nu/kaart">Bekijk de kaart op haringvliet.nu</a></p>
    </div>
  </div>
</div>
