<div class="showcase" style="background-image: url('/images/onitama.jpg');">
  <div class="zoom-in-icon"><div class="zoom-in-icon-part"></div></div>
  <div class="scroll-wrapper">

    <h3 class="title">Onitama</h3>
    <p class="description">ES6, WebRTC, game</p>
    <div class="showcase-body">
      <p>Onitama, een bordspelletje dat enigzins wat lijkt op schaken werd langzamerhand mijn favoriet. Het leuke aan Onitama (vind ik) is dat het redelijk snel voorbij is maar wel vrij snel spannend en complex wordt.</p>

      <p>Mijn enthousiasme motiveerde me om dit spelletje te digitaliseren. Ik heb het in de nieuwste javascript versie geschreven en gebruik WebRTC om twee computers met elkaar te laten spelen. Dit is een hobby project van mij geweest.</p>

    </div>
  </div>
</div>
