<a class="showcase" style="background-image: url('/images/onitama.jpg');" href="#onitama">
  <div class="zoom-in-icon"><div class="zoom-in-icon-part"></div></div>
  <h3 class="title">Onitama</h3>
  <p class="description">ES6, WebRTC, game</p>
  <div class="showcase-body">
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam condimentum id mi non tincidunt. Cras a accumsan libero. Proin volutpat tincidunt orci, dapibus condimentum odio laoreet lobortis. Sed at metus eu ipsum mattis gravida. Nulla porta, erat ut auctor varius, libero ipsum cursus eros, eget sodales urna felis sodales augue. Maecenas eu congue ante. Quisque auctor ligula non posuere varius. Donec vel accumsan nibh. Curabitur risus tellus, commodo in rhoncus et, elementum a leo. </p>

    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam condimentum id mi non tincidunt. Cras a accumsan libero. Proin volutpat tincidunt orci, dapibus condimentum odio laoreet lobortis. Sed at metus eu ipsum mattis gravida. Nulla porta, erat ut auctor varius, libero ipsum cursus eros, eget sodales urna felis sodales augue. Maecenas eu congue ante. Quisque auctor ligula non posuere varius. Donec vel accumsan nibh. Curabitur risus tellus, commodo in rhoncus et, elementum a leo. </p>

  </div>
</a>
