<div class="showcase" style="background-image: url('/images/opengroup.jpg');">
  <div class="zoom-in-icon"><div class="zoom-in-icon-part"></div></div>
  <div class="scroll-wrapper">

  <h3 class="title">OpenGroup</h3>
  <p class="description">WebRTC, VueJs</p>
  <div class="showcase-body">
    <p>OpenGroup is een proof of concept. Het idee erachter is een WhatsApp vervanger waarbij iedereen zijn eigen data beheerd en zal kan kiezen om de groep uit te breiden met functionaliteit.</p>

    <p><a class="button" target="_blank" href="https://opengroup.io">Bekijk OpenGroup</a></p>


  </div>
</div>
</div>
