.graph-grid-wrapper {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
}

.graph-grid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: stretch;
  margin-bottom: 20px;
  margin-right: -100%;
  float: left;
  width: 100%;
  opacity: 0;
  transition: all $speed $easing;
}

.graph-grid-column {
  flex: 1 1 auto;
  border-left: 1px solid $gray;

  &:last-child {
    border-right: 1px solid $gray;
  }
}

[data-active-grid="niveaus"] .graph-grid.niveaus,
[data-active-grid="years"] .graph-grid.years {
  opacity: 1;
}

@media (min-width: $desktop) {
    .graph-grid {
      top: 70px;
    }
}
