.graph-rows {
  margin-top: 30px;
}

.graph-row {
  transition: all $speed $easing;
  overflow: hidden;
  display: block;
  position: relative;
  border-bottom: 1px solid $tertairy;
  opacity: 0;
  max-height: 0;

  &.expanded {
    opacity: 1;
    max-height: 70px;
  }

  &.group {
    opacity: 1;
    max-height: 70px;
    border-bottom: 2px solid $tertairy;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
  }
}

.graph-row-label {
  font-size: 12px;
}
