html {
  background-color: $color-green-dark;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  cursor: none;
}

body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
  user-select: none;
  cursor: none !important;
}

a:link {
  cursor: none;
}