.graph-controls {
  margin-bottom: 30px;
  position: relative;
  z-index: 10;

  > .label {
    font-size: 14px;
    margin-right: 10px;
  }
}

@media (min-width: $desktop) {
  .graph-controls {
    margin-top: 117px;
  }
}
