.graph-rows {
  margin-top: 30px;
}

.graph-row {
  transition: all $speed $easing;
  display: block;
  position: relative;
  border-bottom: 1px solid $tertairy;
  opacity: 0;
  max-height: 0;
  margin: 0;

  &.expanded {
    opacity: 1;
    max-height: 70px;
    margin-top: 10px;
    overflow: visible;
    margin-bottom: 10px;
  }

  &.group {
    opacity: 1;
    padding-right: 30px;
    max-height: 70px;
    border-bottom: 2px solid $tertairy;
    margin-top: 16px;
    margin-bottom: 5px;

    &.expanded {
      border-bottom: 2px solid $secondairy;
    }
  }
}

.graph-row-label {
  font-size: 12px;
}

.graph-row-toggle {
  width: 20px;
  height: 20px;
  background-color: $tertairy;
  position: absolute;
  right: 0;
  bottom: -2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  transition: all $speed $easing;
  cursor: pointer;

  &:before, &:after {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all $speed $easing;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(0);
  }

  .expanded & {
    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.expanded .graph-row-toggle,
.graph-row-toggle:hover {
  background-color: $secondairy;
}

@media (min-width: $desktop) {
  .graph-row-label {
    font-size: 13px;

    .group & {
      font-size: 15px;
    }
  }
}
