.gallery {
  width: calc(100vw - 40px);
  display: flex;
  margin-left: -5px;
  flex: 1 1 auto;
  margin-top: 50px;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-content: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
}

.gallery-item-wrapper {
  position: relative;
  flex: 0 1 auto;
  cursor: pointer;
  width: 80px;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px;
  clip-path: polygon(0 0, 80px 0, 80px 80px, 0 80px);

  &:after {
    content: '';
    padding-bottom: 100%;
    float: left;
    display: block;
  }

  &.transitions {
    z-index: 9000;
    overflow: visible;
    transition: clip-path $speed $easing;
  }

  &.active {
    z-index: 9000;
    clip-path: polygon(-300px -300px, 300px -300px, 300px 300px, -300px 300px);
  }

  &.hidden {
    opacity: 0;
  }
}

.gallery-item {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border-radius: 5px;
  max-width: 200px;
  max-height: 200px;
}

.pswp__button--close {
  background: none !important;
  width: 20px;
  height: 20px;
  padding: 30px;
  cursor: pointer;
  transition: opacity $speed $easing;
  transform-origin: center center;
  position: absolute;
  top: 0;
  right: 0;
  border: none;

  .zoom-in-icon {
    transform: rotate(45deg);
  }
}

.pswp__img {
  border-radius: 5px;
}

.pswp__button--arrow--left {
  left: 10px !important;

  &:before {
    height: 31px !important;
    width: 31px !important;
    border-radius: 50% !important;
  }
}

.pswp__button--arrow--right {
  right: 10px !important;

  &:before {
    height: 31px !important;
    width: 31px !important;
    border-radius: 50% !important;
  }
}

@media (min-width: $tablet) {
  .gallery {
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    margin-top: 17px;
    max-width: 540px;
    padding: 0;
  }


  .showcase-body-left {
    flex: 1 0 auto;
  }

  .showcase-body {
    display: flex;
    justify-content: stretch;
    align-items: flex-start;

  }
}

