.headers-combo {
  .bigshot {
    color: $primary;
    transition: all $speed $easing;
    margin: 0;
    font-size: 21px;
  }

  .marck {
    color: $tertairy;
    transition: all $speed $easing;
    margin: 0;
    font-size: 19px;
  }

  &.big {
    .bigshot {
      font-size: 34px;
    }

    .marck {
      font-size: 20px;
    }
  }

  &.crossed {
    margin-bottom: 40px;

    .bigshot {
      color: $gray;
      font-size: 60px;
      margin-bottom: -37px;
    }

    .marck {
      white-space: normal;
      margin: 0;
      font-size: 18px;
      position: relative;

      /*
      &:after {
        content: '';
        position: absolute;
        bottom: 10px;
        width: 100vw;
        border-bottom: 1px solid red;
        height: 1px;
        z-index: 10000;
        display: block;
      } */
    }
  }
}

@media (min-width: $tablet) {
  .headers-combo {
    .bigshot { font-size: 30px; }
    .marck { font-size: 20px; }

    &.big {
      .bigshot { font-size: 54px; }
      .marck { font-size: 26px; }
    }

    &.crossed {
      margin-bottom: 40px;

      .bigshot { font-size: 60px; margin-bottom: -40px; }
      .marck { margin: 0; font-size: 22px; }
    }
  }
}

@media (min-width: $desktop) {
  .headers-combo {
    .bigshot { font-size: 36px; }
    .marck { font-size: 26px; }

    &.big {
      .bigshot { font-size: 53px; }
      .marck { font-size: 26px; }
    }

    &.crossed {
      margin-bottom: 40px;

      .bigshot { font-size: 90px; margin-bottom: -56px; }
      .marck { margin: 0; font-size: 27px; }
    }
  }
}
