.row {
  float: left;
  width: 100%;
  margin-bottom: 80px;
  padding: 0 20px;
  clear: both;

  &:last-child {
    margin-bottom: 40px;
  }
}

@media (min-width: $tablet) {
  .row {
    margin-bottom: 150px;
    padding: 0 40px;

    &:last-child {
      margin-bottom: 40px;
    }

    &.alternate {
      flex-direction: row-reverse;
      text-align: right;

      p {
        float: right;
        clear: both;

        &:after {
          content: '';
          clear: both;
          display: table;
        }
      }
    }
  }
}

@media (min-width: $desktop) {
  .row {
    justify-content: space-between;
    display: flex;
    padding: 0;

    &:last-child {
      margin-bottom: 140px;
    }

    > * {
      flex: 0 1 calc(50% - 80px);
    }
  }
}
