.tooltip-close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 20px;

  &:before,
  &:after {
    content: '';
    display: block;
    width: 16px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all $speed $easing;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.tooltip {
  background-color: $gray;
  color: $tertairy;
  width: 16px;
  height: 16px;
  display: inline-block;
  text-align: center;
  font-family: 'Marck Script', cursive;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  margin-left: 4px;
  border-radius: 50%;
  transition: all $speed $easing;

  &.active,
  &:hover {
    background-color: $tertairy;
    color: $gray;
  }

  &:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: $tertairy;
    transition: opacity $speed 0s $easing;
    bottom: calc(100% + 7px);
    transform: translate(-50%, -70%) rotate(45deg);
    left: 50%;
    opacity: 0;
    z-index: 8;
    pointer-events: none;
  }

  .group &:after {
    bottom: calc(100% + 15px);
  }

  &.active {
    &:after {
      opacity: 1;
      transition: all $speed ($speed / 3) $easing;
      transform: translate(-50%, 0) rotate(45deg);
    }
  }
}

.tooltip-title {
  font-family: 'Bigshot One', cursive;
  font-weight: 300;
  margin: 10px 0;
}

.tooltip-text {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  transition: all $speed ($speed / 3) $easing;

  a {
    color: white;
  }

  &.active {
    max-height: 600px;
    opacity: 1;
    pointer-events: all;
    transition: all $speed 0s $easing;
  }
}

.tooltip-text-inner {
  margin-top: 20px;
  border-radius: 5px;
  z-index: 25;
  width: 100%;
  background-color: $tertairy;
  color: white;
  position: relative;
  padding: 10px;

  .years,
  .rating {
    font-size: 13px;
  }
}

.tooltip-description {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
}


@media (min-width: $tablet) {
  .tooltip-text {
    margin: 0 20px;
  }
}