.zoom-in-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 30px;
  cursor: pointer;
  transition: opacity $speed $easing;
  transform-origin: center center;

  &:before {
    content: '';
    width: 10px;
    height: 2px;
    transition: all $speed $easing;
    opacity: 1;
    background-color: white;
    position: absolute;
    right: 10px;
    bottom: 15px;
    transform: rotate(45deg);
  }

  &:after {
    content: '';
    width: 20px;
    height: 20px;
    transition: all $speed $easing;
    opacity: 1;
    border: white 2px solid;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.zoom-in-icon-part {
  &:before, &:after {
    content: '';
    width: 8px;
    height: 2px;
    transition: all $speed $easing;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.has-expanded-showcase {
  .zoom-in-icon {
    &:before {
      opacity: 0;
    }
  }
}

.is-fullscreen {
  .zoom-in-icon-part {
    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(135deg);
    }
  }
}
