$card-width: 100vw;
$card-width-huge: 60vw;
$max-width: 1500px;
@import 'colors';
@import 'base/**/*';
@import 'components/**/*';
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Quicksand');